@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Clash Display';
    src: url('/font2/ClashDisplay-Variable.ttf') format('truetype');
    font-style: normal;
}